<html>
<head>
    <title>支付测试</title>
</head>
<body>
* {"c_user_id": "4", 用户id
"c_deviceid: "19", 设备id  => 商品id
"c_charge_id": "5", 充电时间id  充电价格类型
"c_charge_time": "1", 充电时间
"c_price": "2", 价格
"c_type": "1" 租用leix
"c_merchant_id" "1"
<form action="{:url('Order/payOrder')}" method="post">
    <table>
        <tr>
            <td><input name="user_id" value="1"></td>
        </tr>
        <tr>
            <td><input name="deviceid" value="12"></td>
        </tr>
        <tr>
            <td>
                <input name="charge_id" value="1">
            </td>
        </tr>
        <tr>
            <td>
                <input name="submit" type="submit">
            </td>
        </tr>
    </table>

</form>


</body>
</html>