{include file="public/head"/}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="__STATIC__/js/datatables/dataTables.bootstrap.css">

</head>

<style type="text/css">
    .responsive tr td.codeTd{
        position: relative;
    }
    .responsive tr td.codeTd:hover .codeImg{
        display: block;
    }
    .responsive tr td .codeImg{
        position: absolute;
        top: 25px;
        left:-75px;
        z-index: 1000;
        width: 200px;
        display: none;
    }
</style>
<body class="page-body">
<div class="page-container">

    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table style="padding: 0" class="table responsive" id="msg">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>设备编号</th>
                                <th>充电时间</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>剩余时间</th>
                                <th>充电状态</th>
                            </tr>
                            </thead>

                            <tbody>
                            {volist name="list" id="v"}
                                <tr>
                                    <td>
                                        {$v.c_id}
                                    </td>
                                    <td>{$v.c_device_id}</td>
                                    <td>
                                        {$v.c_charge_time}
                                    </td>
                                    <td>
                                        {if condition="$v['c_status'] eq 0"}
                                        <span style="color:red;">未开始</span>
                                        {elseif condition="$v['c_status'] eq 1" /}
                                        <span style="color:#2bf32b;">使用中</span>
                                        {else /}
                                        <span style="color:#2bf32b;">已结束</span>
                                        {/if}
                                    </td>
                                    <td>
                                        {if condition="$v['c_start_time'] eq 0"}
                                        <span style="color:red;">未开始</span>
                                        {else /}
                                        {$v.c_start_time}
                                        {/if}
                                    </td>
                                    <td>
                                        {if condition="$v['c_stop_time'] eq 0"}
                                        <span style="color:red;">未结束</span>
                                        {else /}
                                        {$v.c_shop_time}
                                        {/if}
                                    </td>
                                    <td>
                                        {$v.c_status}
                                    </td>
                                </tr>
                            {/volist}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/foot"/}
<!-- layer 插件 -->
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        //点击删除
        $(document).on("click","#remove",function () {
            if(confirm('您确定要删除吗？')){
                //实现删除业务逻辑
                $.get("{:url('Device/del')}",
                    {id:$(this).attr("c_id")},
                    function (data) {
                        if(data.status == 0){
                            layer.msg(data.msg,{icon:1,time: 1000},function () {
                                location.reload();
                            });
                        }else{
                            layer.msg(data.msg,{icon:2,time: 1000});
                        }
                    },'json');
            }
        });

        //点击修改状态
        $(document).on("click","#isStatus",function () {

            $.get("{:url('Device/isStatus')}",
                {id:$(this).attr("c_id")},
                function (data) {
                    if(data.status == 0){
                        layer.msg(data.msg,{icon:1,time: 1000},function () {
                            location.reload();
                        });
                    }else{
                        layer.msg(data.msg,{icon:2,time: 1000});
                    }
                },'json');
        });

        // 图片放大
        var zindex=1;
        $(".lemoncode").click(function(){
            if(($(this).css("transform"))=="matrix(5, 0, 0, 5, 0, 0)"){
                $(this).css({
                    "transform":"scale(1)",
                    "position":"static"
                })
            }else{
                $(this).css({
                    "transform":"scale(5)",
                    "position":"relative",
                    "zIndex" : 1,
                })
            }

        })
    })
</script>

</body>
</html>